@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Tapestry', cursive;
}

.main__wrap {
    width: 100wh;
    background-image: url('./img/bg.jpg');  
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__houses-wrap {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.212);
}

.main__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__pic {
    width: 40%;
}

.main__title-pic {
    height: 100%;
}

.main__title-pic:hover {
    transition: 0.5s;
    transform: scale(1.02);
}

.main__link :hover {
    transition: 1s;
    transform: scale(1.2);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_wrap {
    display: flex;
    width: 80%;
    height: 5em;
    justify-content: space-between;
    align-items: center;
}

.nav__logo-pic {
    height: 4em;
}

.nav__links-wrap {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}

.nav_link {
    text-decoration: none;
    color: black;
}

.home__promo {
    background-image: url(./img/promo.jpg);
    height: 100vh;
}

.home__promo-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__promo-wrap {
    background-color: rgba(0, 0, 0, 0.288);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
}

.home__promo-subtitle {
    font-size: 28px;
    color: white;
    text-shadow: 1px 1px 1px #000;
}